@font-face {
  font-family: 'Light';
  src: url('/LXGWWenKai-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Medium';
  src: url('/LXGWWenKai-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Light';
  src: url('LXGWWenKaiMono-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Medium';
  src: url('/LXGWWenKaiMono-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mono Regular';
  src: url('/LXGWWenKaiMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
